{% extends "admin/base.html" %}
{% block title %}Login - Nha Trang University CMS{% endblock %}
{% block content %}
<div class="maincontent">
    <div class="container my-5 pt-5">
        <h2>Login</h2>
        <div class="card mb-4 shadow-sm hover-effect">
            <div class="card-body">
                <form method="POST" action="{{ url_for('auth.login') }}">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}