{% extends "public/base.html" %}

{% block title %}{{ post.title }} - CMS Đại học Nha Trang{% endblock %}

{% block content %}
<div class="maincontent">
    <h2 class="text-center mb-4">{{ post.title }}</h2>
    <section class="mb-5">
    <div class="card shadow-sm">
        {% if post.image %}
        <img src="{{ url_for('static', filename=post.image) }}" class="card-img-top img-fluid" alt="{{ post.title }}">
        {% endif %}
        <div class="card-body">
            <div class="card-text">{{ post.content | safe }}</div>
            <p class="card-text text-muted mt-3">
                <small>
                    Danh mục: <a href="{{ url_for('main.posts', slug=post.category.slug) }}" class="text-decoration-none">{{ post.category.name }}</a> |
                    Đăng ngày: {{ post.created_at.strftime('%d/%m/%Y') }} |
                    Cập nhật: {{ post.updated_at.strftime('%d/%m/%Y') if post.updated_at else post.created_at.strftime('%d/%m/%Y') }}
                </small>
            </p>
        </div>
        </div>
    </section>
</div>
{% endblock %}